@{
    ViewBag.Title = "LeaveSummary";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<script>
    $(".mws-datatable-fn").dataTable({
        sPaginationType: "full_numbers"
    });
</script>
<link href="@Url.Content("~/bootstrapNew/css/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/bootstrapNew/js/bootstrap.min.js")"></script>
@{
    Guid employeeID = new Guid(ViewBag.employeeID.ToString());
    string returnUrl = ViewBag.returnUrl != null ? ViewBag.returnUrl.ToString() : "";
}

<script type="text/javascript">
    @* $(function () {
        reports.loadLeaveBalance('@EmployeeID', true);
    });*@
</script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@{Html.RenderPartial("Notification");}
<div id="main-content" class="row-fluid">
    @{Html.RenderAction("LeaveSummaryPV", new { employeeID = employeeID, returnUrl = returnUrl });}
</div>
