@model DAO.Holiday

@{
    ViewBag.Title = "Holiday";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {

        hr.Holiday(null);

    });
</script>
  @{Html.RenderPartial("Notification");}
<div id="main-content" class="row-fluid">

</div>