@model DAO.JobType

@{
    ViewBag.Title = "JobType";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

@*<h2>Job Type</h2>*@

<script type="text/javascript">
    $(document).ready(function () {

        hr.JobType();

    });
</script>
  @{Html.RenderPartial("Notification");}
<div id="main-content" class="row-fluid">

</div>