@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<h2>Access Denied</h2>
<div>
    <h4>You do not have enough permission to view requested page.</h4>
</div>

