@{
    ViewBag.Title = "ChangeStaffPassword";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

@{Html.RenderPartial("Notification");}
<script type="text/javascript">
    function loadChangePasswordForm(ddl) {
        var employeeID = $(ddl).val();
        if (!isNullOrEmpty(employeeID)) {
            doAjax(homeController + "ChangePassword", { employeeID: employeeID }, function (data) {
                $('#main-content').html(data);
            });
        } else {
            hidePasswordView();
        }
    }

   
    function hidePasswordView() {
        $('#main-content').html('');
        $('#CountryList').val('');
    }
</script>
<div class="mws-form-row">
    <h2>Change Staff Password</h2>
    <div class="grid_8" style="text-align: center; margin-bottom: 10px;">

        <div class="mws-form-item">
            <label class="mws-form-label">Select Employee</label>
            @Html.DropDownList("CountryList", (List<SelectListItem>)ViewBag.CountryList, new { @class = "required", style = "width:352px;", onchange = "loadChangePasswordForm(this)" })

        </div>
    </div>

</div>
<div id="main-content" class="row-fluid">
</div>
